<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{description|e}}">
	<meta name="keywords" content="{{keywords|e}}">
    {% block meta %}{% endblock %}

	{% if canonical is defined and canonical is not null %}
		<link rel="canonical" href="{{ canonical | raw }}" />
	{% endif %}

    <title>{{ title | e }}</title>
    
	<link rel="preconnect" href="https://api.macropredictions.com" >
	<link rel="preconnect" href="https://cdnjs.cloudflare.com" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link rel="preconnect" href="https://cdn.jsdelivr.net" />
	<link rel="preconnect" href="https://cdn.datatables.net" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700">

    <link rel="icon" type=image/ico href="/static/brand/icon-clear-bg-static-for-png.png"/> <!--Can't use SVG due to Safari-->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>
</head>

<body>
	{% block navbar %}
	{% endblock %}
	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer class="container-fluid text-slate-900 px-0 pt-5 bg-white">
		<hr class="mx-5">
		<div class="container py-3">
			<div class="row">
				<div class="col-6 mb-2 mb-md-0">
					<!--<h5 class="text-uppercase">Links</h5>
					<ul class="list-unstyled mb-0">
						<li><a href="https://econforecasting.com" class="text-dark"></a></li>
					</ul>
					-->
				</div>
				<div class="col-6 mb-2 mb-md-0 text-end">
					<h5 class="text-uppercase mb-0">CONTACT</h5>
					<ul class="list-unstyled">
					  <li>Questions or concerns? Contact <a href="mailto:charles@econforecasting.com">charles@econforecasting.com</a>.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="container text-end p-2">
				<span>© {{'now' | date('Y')}} <img class="mx-1" width="16" height="16" src="/static/brand/icon-clear-bg-static-for-png.svg">econforecasting.com</span>
			</div>
		</div>
	</footer>

	<!-- Static Links -->
    {% block staticlinks %}{% endblock %}

	<!-- Version 9.0+ requires AST filtration bypass -->
	{% if pagescript is defined and pagescript is not null %}
		<script src="/static/cache/{{ pagescript | raw }}"></script>
	{% endif %}
	

	{# {% include 'g-tags.html' ignore missing  %} #}

</body>
</html>
