{% extends "partials/base.html.twig" %}

{% block navbar %}
	{% include "partials/navbar-fluid.html.twig" %}
{% endblock %}

{% block content %}

<div class="d-flex bg-white-neutral">
	{% include "partials/forecast-sidebar.html.twig" %}
	<div class="col mx-2 pb-5">
		<div class="container-xxl" id="forecast-container" data-site="{{ site }}" data-varname="{{ varname }}" data-fullname="{{ fullname }}" data-hist-freq="{{ hist_freq }}" data-hist-update-freq="{{ hist_update_freq }}" data-hist-is-agg="{{ hist_is_agg }}" data-units="{{ units }}" data-primary-forecast="{{ primary_forecast }}" data-secondary-forecasts="{{ secondary_forecasts }}" data-show-vintage-chart="{{ show_vintage_chart }}">

			<div class="row">
				<div class="col-12 card p-4 my-3">
					<h4 class="mb-3 d-flex align-items-center" >
						<span class="card-header">{{ fullname | upper }} - FORECAST CHART</span>
					</h4>
					<div class="chart-container position-relative rounded" style="height:420px" id="chart-container">
						<div class="loader-container"><span>Pulling data...</span><div></div></div>
						<div class="loadee-container position-absolute px-2 pt-1"></div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xxl-4 col-lg-6 px-0 pe-lg-3 mb-3">
					<div id="data-card" class="card p-4">
						<h4 class="mb-3" >
							<span class="card-header">VIEW DATA</span>
						</h4>

						<div id="table-container" class="position-relative" style="min-height: 550px">
							<div class="loader-container"><span>Pulling data...</span><div></div></div>
							<div class="loadee-container position-relative">
								<span class="text-sm text-slate-800">Select a series:</span>
								<ul class="list-group m-3" id="li-container"></ul>
								<div id="dt-container" class="d-grid position-relative"></div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-xxl-8 col-lg-6 px-0 ps-lg-3 mb-3" id="text-container">
					<div class="card p-4 text-slate-700 pe-xxl-5 fs-6">

						<h4 class="mb-3" >
							<span class="card-header">VARIABLE DESCRIPTION</span>
						</h4>
						<div id="variable-description">
							{{ variable_description }}
						</div>


						<h4 class="mb-3 mt-3" >
							<span class="card-header">PRIMARY FORECAST MODEL</span>
						</h4>
						<div id="primary-forecast-description" >
							{{ primary_forecast_description }}

							{% if show_vintage_chart == true %}
								<p class="mb-2"><a href="#" class="btn btn-sm bg-sky bg-hover-sky-dark transition duration-300 rounded-0 text-slate-100 border-0" role="button" data-bs-toggle="modal" data-bs-target="#fixed-vdate-chart-modal"><i class="me-1  bi bi-bar-chart text-sm align-top"></i>View forecast history by date of forecast</a></p>
								
								<div class="modal fade" id="fixed-vdate-chart-modal" tabindex="-1">
									<div class="modal-dialog modal-xl" style="max-width: min(calc(100% - 20px), 1200px);">
										<div class="modal-content">
										<div class="modal-body p-4">
											<h4 class="mb-3 d-flex align-items-center justify-content-between" >
												<span style="letter-spacing: .05rem;" class="badge bg-slate-500 font-family-logo  text-bold text-xs font-family-sans-serif fw-bold text-slate-100 rounded-0 px-2 py-1">HISTORICAL FORECAST VINTAGES</span>
												<button type="button" class="btn btn-sm bg-rose-dark text-slate-100" data-bs-dismiss="modal">Close</button>
											</h4>
											<div class="chart-container position-relative rounded" style="height:500px" id="fixed-vdate-chart-container">
												<div class="loader-container"><span>Pulling data...</span><div></div></div>
												<div class="loadee-container position-absolute px-2 pt-1"></div>
											</div>
											<div class="row mt-4 justify-content-center">
												<div class="col-12 col-lg-9 col-xxl-7 bg-white-warm px-3 py-2">
													<p>Each <span class="text-amber-darker fw-bolder">colored</span> line represents a forecast <span class="fst-italic fw-bolder">generated on a single date</span>. Click a date on the chart legend to add or remove a forecast. The most recent forecast as well as the first forecast of each month are available.</p>
													<p>The <span class="fw-bolder text-slate-500">grey</span> line shows realized (actual) values of the variable{% if hist_is_agg == true %}†{% endif %}.</p>
													{% if hist_is_agg == true %}
													<p class="text-sm mb-0"><sup>† If the date is for the current period, this value represents an average of data available so far.</sup></p>
													{% endif %}
												</div>
											</div>
										</div>
										</div>
									</div>
								</div>

								<p><a href="#" class="btn btn-sm bg-sky bg-hover-sky-dark transition duration-300  rounded-0 text-slate-100 border-0" role="button" data-bs-toggle="modal" data-bs-target="#fixed-date-chart-modal"><i class="me-1  bi bi-bar-chart text-sm align-top"></i>View forecast history by targeted forecast period</a></p>


								<div class="modal fade" id="fixed-date-chart-modal" tabindex="-1">
									<div class="modal-dialog modal-xl" style="max-width: min(calc(100% - 20px), 1200px);">
										<div class="modal-content">
										<div class="modal-body p-4">
											<h4 class="mb-3 d-flex align-items-center justify-content-between" >
												<span style="letter-spacing: .05rem;" class="badge bg-slate-500 font-family-logo  text-bold text-xs font-family-sans-serif fw-bold text-slate-100 rounded-0 px-2 py-1">ROLLING PREDICTION HISTORIES</span>
												<button type="button" class="btn btn-sm bg-rose-dark text-slate-100" data-bs-dismiss="modal">Close</button>
											</h4>
											<div class="chart-container position-relative rounded" style="height:500px" id="fixed-date-chart-container">
												<div class="loader-container"><span>Pulling data...</span><div></div></div>
												<div class="loadee-container position-absolute px-2 pt-1"></div>
											</div>
											<div class="row mt-4 justify-content-center">
												<div class="col-12 col-lg-9 col-xxl-7 bg-white-warm px-3 py-2">
													<p>Each <span class="text-amber-darker fw-bolder">colored</span> line represents <span class="fst-italic fw-bolder">forecasts over time for a single target period</span>. Click a date on the chart legend to change the target date. The most recent forecast as well as the first forecast of each month are available.</p>
													<p>The <span class="fw-bolder text-slate-500">grey</span> line shows realized (actual) values of the variable. Thus, the difference between the grey line and the forecast line represents how much the variable is forecasted to change between the time the forecast was made and the target date. For forecasts whose target dates have already arrived, the <span class="fw-bold text-amber-darker">✕</span> indicator displays the realized value of the target forecast{% if hist_is_agg == true %}†{% endif %}.</p>
													{% if hist_is_agg == true %}
													<p class="text-sm mb-0"><sup>† If the date is for the current period, this value represents an average of data available so far.</sup></p>
													{% endif %}
												</div>
											</div>
										</div>
										</div>
									</div>
								</div>
							{% endif %}
						</div>

						
						{% if secondary_forecasts|length > 0 %}
						<h4 class="mb-3 mt-3" >
							<span class="card-header">ALTERNATE FORECASTS</span>
						</h4>

						<div id="secondary-forecasts-description">
							<p>Other forecasts included on this page:</p>
							<ol style="list-style-type:upper-roman;font-size:.98em">
								{{ secondary_forecasts_description }}
							</ol>
						</div>
						{% endif %}
					</div>
				</div>
				
				
			</div>
			
			
			<div class="row g-0">
				<div class="col-12 px-0">
						<div class="card my-3 mx-0 rounded shadow-sm">
							<div class="card-body py-0">
							</div>
						</div>
				</div>
			</div>
			
			{% include 'g-ads.html.twig' ignore missing  %}

		</div>
	</div>
	
</div>
{% endblock %}